<h1 class="uk-heading-xlarge"> Account Dashboard</h1>

<div class="uk-container">
    <h2 class="uk-heading-medium">User Details</h2>
    <table class="uk-table uk-table-striped">
    <thead>
        <tr>
            <th>USER DETAILS </th>
          
     
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Email</td>
            <td>Address</td>
            <td>City</td>
            <td>State</td>
            <td>Zipcode</td>
        </tr>
        <tr>
            <td>{{userData.firstname}}</td>
            <td>{{userData.lastname}}</td>
            <td>{{userData.email}}</td>
            <td>{{userData.streetaddress}}</td>
            <td>{{userData.city}}</td>
            <td>{{userData.firstname}}</td>
            <td>{{userData.state}}</td>
            <td>{{userData.zipcode}}</td>
        </tr>
        
    </tbody>
</table>
    <button class="uk-button uk-button-default" id="account-update">Save Account Updates</button>
</div>

<div>
        <div class="uk-card uk-card-primary uk-card-body">
            <h3 class="uk-card-title">Current tier</h3>
            <p>{{userData.subtier}}</p>
        </div> 

<div class="uk-inline">
    <button class="uk-button uk-button-default" type="button">Click</button>
    <div uk-dropdown="mode: click">Change tier</div>
    <button class="uk-button uk-button-default" id="account-update">Confirm Changes</button>
</div>

<button class="uk-button uk-button-default" id="logout">Log Out</button>

<script src="/js/logout.js"></script>

{{!-- kahsdk --}}