<h1 class="uk-heading-xlarge uk-text-center" id="landinghead">Your Account</h1>

<div class="uk-container">
    <h2 class="uk-heading-medium uk-text-center">Account Details</h2>
    <table class="uk-table uk-table-striped">
    <thead>
        <tr>
            <th>USER DETAILS </th>
          
     
        </tr>
    </thead>
    <tbody>
        <tr class="uk-flex-center">
            <td>First Name</td>
            <td>Last Name</td>
            <td>Email</td>
            <td>Address</td>
            <td>City</td>
            <td>State</td>
            <td>Zipcode</td>
        </tr>
        <tr class="uk-flex-center">
            <td>{{userData.firstname}}</td>
            <td>{{userData.lastname}}</td>
            <td>{{userData.email}}</td>
            <td>{{userData.streetaddress}}</td>
            <td>{{userData.city}}</td>
            <td>{{userData.state}}</td>
            <td>{{userData.zipcode}}</td>
        </tr>
        
    </tbody>
</table>
    <button class="uk-button uk-button-default uk-margin-medium-bottom" id="account-update">Save Account Updates</button>
</div>

<div>

        <div class="uk-card uk-card-primary uk-card-body uk-text-center">
            <h3 class="uk-card-title">Current tier</h3>
            <p>{{currentSub.tier_name}}</p>
            <p>{{currentSub.description}}</p>
            <p>${{currentSub.price}} per Month</p>
        </div> 

<div class="">
        <select id="tier_id" class="uk-select uk-width-1-2 uk-margin-medium-bottom uk-margin-medium-top">
            {{#each notSub}}
            <option value='{{id}}'>{{tier_name}} / ${{price}} a month</option>
            {{/each}}
        </select>
    <button class="uk-button uk-button-default uk-margin-small-bottom" id="account-update">Confirm Changes</button>
</div>

<button class="uk-button uk-button-default" id="logout">Log Out</button>

<script src="/js/logout.js"></script>

